<div class="form-wrapper">
  <div class="form-header">
    <div class="form-title">
      <h2>Usuarios</h2>
      <p>Gestión de usuarios registrados</p>
    </div>

    <div class="form-actions-top">
      <button class="submit" (click)="goToCreate()">Crear usuario</button>
    </div>
  </div>

  <div class="form-box">
    <table class="user-table">
      <thead>
        <tr>
          <th>Correo</th>
          <th>Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.email }}</td>
          <td>{{ user.role === 'admin' ? 'Administrador' : 'Operativo' }}</td>
          <td>
            <button class="table-btn edit" (click)="goToEdit(user)">Editar</button>
            <button class="table-btn delete" (click)="askDelete(user)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Diálogo de confirmación -->
<app-confirm-dialog *ngIf="showConfirmDialog" [title]="'Confirmar eliminación'"
  [message]="'¿Seguro que deseas eliminar al usuario ' + selectedUserToDelete?.email + '?'" (confirm)="confirmDelete()"
  (cancel)="cancelDialog()"></app-confirm-dialog>

<!-- Mensaje informativo -->
<div class="message-overlay" *ngIf="showMessage">
  <app-message-dialog [title]="messageTitle" [message]="messageBody" [buttonText]="'Entendido'"
    (close)="handleCloseDialog()"></app-message-dialog>
</div>
